<launch>
    <include file="$(find pr2_description)/robots/upload_pr2.launch"/>

    <node pkg="capability_map_generator" type="reachability_vis" name="reachability_vis" args=" -n 200 -r 0.05" output="screen">
        <param name="reachability_interface" value="capability_map_generator::ReachabilityROSKinematicsInterface"/>
        <param name="kinematics_interface" value="pr2_arm_kinematics/PR2ArmKinematicsPlugin"/>
    </node>
</launch>

